.tmp/
.vscode/
coverage/
dist/
node_modules/
typings/
reports/*
!src/app/components/reports/
test-reports/
src/app/services/*.html

npm-debug.log*

.DS_Store
API/ProductRegistrationAPI/
.dll
.csproj.user
.vs/slnx.sqlite
.vs/ProductRegistration-InvDays/
www/.vs/
www/build/